{% extends 'shop/base.html' %}
{% block body %}
    <h1>profile</h1>
    <a href="{% url 'index' %}" class="btn btn-outline" style="background-color: cornsilk; border-color: black; margin-left: 20px">Home</a>
    {% if request.user.is_authenticated %}

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="list-group" id="item_list">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <div class="card-body"
                                             style="font-weight: bold; font-size: 18px;background-color: mistyrose; padding: 10px">
                                            Username: {{ custom_user.email }}<br>
                                            Name: {{ custom_user.first_name }}<br>
                                            Lastname: {{ custom_user.last_name }}<br>
                                            Address: {{ custom_user.address }}<br>
                                            Mobile Number: {{ custom_user.mobile_number }}<br>
                                            Date you joined Us: {{ custom_user.date_joined }}<br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </div>

        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" style="padding: 5px; background-color: beige; margin-left: 380px; margin-top: 50px; font-weight: bolder">logout</button>
        </form>

    {% else %}
        <a href="{% url 'login' %}" class="btn btn-outline">Login</a>
        <a href="#" class="btn btn-primary">Join Now</a>
    {% endif %}
{% endblock %}