{% extends 'shop/base.html' %}



{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-group" id="item_list">

                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="Username">Username</label>
                            <input type="text" class="form-control" id="Username" name="Username"
                                   placeholder="Username">
                        </div>

                        <div class="form-group col-md-6">
                            <label for="Password">Password</label>
                            <input type="password" class="form-control" id="Password" name="Password"
                                   placeholder="Password">
                        </div>

                        <div class="form-group col-md-6">
                            <label for="Repeat_Password">Repeat Password</label>
                            <input type="password" class="form-control" id="Repeat_Password" name="Repeat_Password"
                                   placeholder="Repeat Your Password">
                        </div>

                        <div class="form-group col-md-6">
                            <label for="Name">First Name</label>
                            <input type="text" class="form-control" id="Name" name="Name" placeholder="Name">
                        </div>

                        <div class="form-group col-md-6">
                            <label for="LastName">Last Name</label>
                            <input type="text" class="form-control" id="LastName" name="LastName"
                                   placeholder="Last Name">
                        </div>

                        <div class="form-group col-md-6">
                            <label for="Email">Email</label>
                            <input type="Email" class="form-control" id="Email" name="Email"
                                   placeholder=" *** @ *** .com">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="Address">Address</label>
                            <input type="text" class="form-control" id="Address" name="Address" placeholder="Address">
                        </div>

                        <div class="form-group col-md-6">
                            <label for="Mobile_Number">Mobile Number</label>
                            <input type="number" class="form-control" id="Mobile_Number" name="Mobile_Number"
                                   placeholder="Your Mobile Number">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Sign Up</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}


{#{% block body %}#}
{##}
{##}
{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="col-md-4 offset-md-4" style="padding: 30px">#}
{#                <div class="card">#}
{#                    <div class="card-header text-white" style="background-color: darkslateblue">#}
{#                        <div class="card-title">#}
{#                            Register#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="card-body">#}
{#                        <form method="POST">#}
{#                            {% csrf_token %}#}
{#                            {% for field in form %}#}
{#                                <div class="form-group" style="padding: 10px">#}
{#                                    {{ field.name }}#}
{#                                        <br>#}
{#                                    {{ field }}#}
{#                                </div>#}
{#                            {% endfor %}#}
{#                            <button class="offset-md-5 text-white"#}
{#                                    style="background-color: darkslateblue; border-radius: 5px" type="submit">Signup#}
{#                            </button>#}
{#                        </form>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{##}
{#{% endblock %}#}