{% extends 'shop/base.html' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-group" id="item_list">

                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" id="cart_items" name="cart_items">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="Name">Name</label>
                            <input type="text" class="form-control" id="Name" name="Name" placeholder="Name">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="LastName">Last Name</label>
                            <input type="text" class="form-control" id="LastName" name="LastName"
                                   placeholder="Last Name">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="Email">Email</label>
                            <input type="Email" class="form-control" id="Email" name="Email"
                                   placeholder=" *** @ *** .com">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Address">Address</label>
                        <input type="text" class="form-control" id="Address" name="Address" placeholder="1234 Main St">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="City">City</label>
                            <input type="text" class="form-control" id="City" name="City">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="State">State</label>
                            <input type="text" id="State" name="State" class="form-control">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="ZipCode">Zip Code</label>
                            <input type="text" class="form-control" id="ZipCode" name="ZipCode">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Place Order</button>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        if (localStorage.getItem('cart') == null) {
            var cart = {};
        } else {
            cart = JSON.parse(localStorage.getItem('cart'));
        }
        var item;
        var itemString;
        for (item in cart) {
            let name = cart[item][1];
            let quantity = cart[item][0];

            itemString = `<li class="list-group-item" xmlns="http://www.w3.org/1999/html">Product Name: ${name}  </br>  Quantity: ${quantity}</li>`
            $('#item_list').append(itemString);

        }
        $('#cart_items').val(JSON.stringify(cart));
    </script>

{% endblock %}