{% extends 'shop/base.html' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form class="row">
                <div class="col-md-12">
                    <div class="col">
                        <img src="{{ product_objects.image }}">
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    {{ product_objects.title }}
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    ${{ product_objects.price }}
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    {{ product_objects.category }}
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    {{ product_objects.description }}
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <a href="{% url 'add_to_cart' product_objects.id %}" class="btn btn-warning">Add to cart</a>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}